* { box-sizing: border-box; }

/* force scrollbar */
html { overflow-y: scroll; }

body {
  font-family: sans-serif;
}

/* ---- isotope ---- */

.grid {
/*  background: #DDD;*/
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 20%;
}

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  max-width: 100%;
}

.grid-item__overlay {
	width: 20%;
	float: left;
	display: inline-block;
	max-width: 100%;
}

.grid-item__overlay:hover {
	display: inherit;
	background-color: #ff6100;
}
