/*

COLORS:
orange: #ff6100
blue/grey: #0e2c3a
slightly lighter blue/grey: #26414D
lighter blue/grey: #566b75
very light grey: #F7F8F9

*/

html {
	font-size: 62.5%;
}

body {
	font-family: 'Open Sans', sans-serif;
}

p {
	color: #3c3839;
}

.section {
	position: relative;
}

.firstPage__header {
	background-color: white;
	height: 10vh;
	width: 100vw;
	position: absolute;
	top: 0;
	text-align: center;
}

.firstPage__header p {
	color: #0e2c3a;
	margin-top: 2rem;
	letter-spacing: .2rem;
	text-transform: uppercase;
	-webkit-animation: moveIn 3s ease-in;
	-o-animation: moveIn 3s ease-in;
	animation: moveIn 3s ease-in;
}

.firstPage__box {
	position: absolute;
	height: 80vh;
	left: 25vw;
	bottom: 0;
}

.firstPage__text {
	position: absolute;
	top: 36vh;
	left: 30vw;
}

.firstPage__text--primary {
	font-family: 'Lato', sans-serif;
	letter-spacing: .4rem;
	color: #0e2c3a;
	text-transform: lowercase;
	padding-bottom: 2rem;
	-webkit-animation: moveInTop 1s ease-in;
	-o-animation: moveInTop 1s ease-in;
	animation: moveInTop 1s ease-in;
}

.firstPage__text--sub {
	color: #9eaab0;
	text-transform: uppercase;
	font-size: 2rem;
	letter-spacing: .4rem;
	line-height: 4rem;
	-webkit-animation: moveInBottom 1s ease-in;
	-o-animation: moveInBottom 1s ease-in;
	animation: moveInBottom 1s ease-in;
}

.fa-chevron-down {
	color: #9eaab0;
	font-size: 2rem;
	position: absolute;
	bottom: 1rem;
	left: 50%;
	-webkit-animation-name: bounce;
	animation-name: bounce;
	animation-delay: 2s;
	animation-iteration-count: infine;
	-webkit-transform-origin: center bottom;
	transform-origin: center bottom;
}

.secondPage {
	position: relative;
}

.secondPage__stripe.title,
.thirdPage__stripe.title {
	background-color: #0e2c3a;
	position: relative;
	height: 10vh;
}

.secondPage__stripe.even,
.thirdPage__stripe.even {
	height: 5vh;
}

.secondPage__stripe.odd,
.thirdPage__stripe.odd {
	height: 10vh;
	border-bottom: .2rem solid #ff6100;
}

.secondPage__main {
	position: relative;
	background-color: #fff;
	min-height: 71.6vh;
	width: 80vw;
	margin: 0 auto;
}

.displayed {
	visibility: visible;
}

.undisplayed {
	visibility: hidden;
}

.secondPage__grid-container1,
.secondPage__grid-container2,
.secondPage__grid-container3
 {
	padding-top: 3rem;
}

.title-stripe__text {
	padding-top: 1rem;
	letter-spacing: .2rem;
	text-transform: uppercase;
	font-size: 2rem;
}

.title-stripe__text--primary {
	font-family: 'Lato', sans-serif;
	letter-spacing: .4rem;
	text-transform: lowercase;
	padding-top: 3rem;
	font-size: 4rem;
	padding-left: 10%;
	color: #fff;
	padding-right: 2rem
}

.title-stripe__text--sub {
	font-size: 1.5rem;
	display: in-line;
	color: #ff6100;
/*	padding-left: .5rem;*/
}

.title-stripe__nav {
	position: absolute;
	right: 5vw;
	top: 5vh;
	color: #fff;
}

.technology-filter {
	padding: 0 1rem;
	border: none;
	color: #fff;
	background: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2rem;
	letter-spacing: .2rem;
}

.secondPage__project-focus1,
.secondPage__project-focus2,
.secondPage__project-focus3 {
	position: absolute;
	top: 12%;
	height: 100%;
	width: 100%;
}

#project-focus__img1,
#project-focus__img2,
#project-focus__img3 {
	width: 90%;
}

#project-focus__text1,
#project-focus__text2,
#project-focus__text3 {
	color: #3c3839;
}

.project-focus__links {
	position: absolute;
	bottom: 20%;
}

.project-focus__link {
	width: 3rem;
	opacity: .2;
	margin: .5rem;
}

.project-focus__link:hover {
	opacity: .4;
}

.project-focus__close-btn {
	position: absolute;
	bottom: 20%;
	right: 5%;
}

.thirdPage__frame {
	height: 90vh;
	width: 90vw;
	border: 0.5rem solid #ff6100;
	left: 5vw;
	top: 5vh;
	position: absolute;
}

.about-me {
	max-width: 80vw;
	margin: 0 auto;
}

.about-me__text {
	height: 71.6vh;
}

.about-me__text p {
	padding-left: : 2rem;
	padding-top: 15vh;
}

.about-me__image {
	margin-top: 5rem;
}

.about-me__images--row1 {
	margin-top: 2rem;
	margin-bottom: 3rem;
}

.about-me__images--row2 {
	margin-top: 3rem;
}

.about-me__image {
	width: 10rem;
	padding: 1rem;
}

.about-me__image.pos1 {
	margin-right: 4rem;
	margin-left: 10rem;
}

.about-me__image.pos2 {
	margin-left: 4rem;
}

.arrowImage {
	width: 1.5rem;
	position: relative;
	bottom: 3.5rem;
}

.lastPage__container {
	max-width: 80vw;
	margin: 0 auto;
	position: relative;
}

.lastPage__form {
	margin-top: 20%;
}

label {
	color: #fff;
	letter-spacing: .2rem;
	font-family: 'Open Sans', sans-serif;
}

.lastPage__submit-btn {
	background-color: #fff !important;
	color: #566b75 !important;
}

.lastPage__image-div {
	position: relative;
}

.lastPage__ally-img {
	width: 40rem;
	position: absolute;
	left: 20%;
}

@keyframes moveIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes moveInTop {
	0% {
		opacity: 0;
		transform: translateY(-3rem);
	}

	100% {
		opacity: 1;
		transform: translate(0);
	}
}

@keyframes moveInBottom {
	0% {
		opacity: 0;
		transform: translateY(3rem);
	}

	100% {
		opacity: 1;
		transform: translate(0);
	}
}

@-webkit-keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -3rem, 0);
    transform: translate3d(0, -3rem, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -1.5rem, 0);
    transform: translate3d(0, -1.5rem, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -.4rem, 0);
    transform: translate3d(0, -.4rem, 0);
  }
}

@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -3rem, 0);
    transform: translate3d(0, -3rem, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -1.5rem, 0);
    transform: translate3d(0, -1.5rem, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -.4rem, 0);
    transform: translate3d(0, -.4rem, 0);
  }
}
