/*

COLORS:
orange: #ff6100
blue/grey: #0e2c3a
lighter blue/grey: #566b75

*/

html {
	font-size: 62.5%;
}

body {
	font-family: 'Open Sans', sans-serif;
}

p {
	color: #3c3839;
}

.section {
	position: relative;
}

.firstPage__header {
	background-color: white;
	height: 10vh;
	width: 100vw;
	position: absolute;
	top: 0;
	text-align: center;
}

.firstPage__header p {
	color: #0e2c3a;
	margin-top: 2rem;
	letter-spacing: .2rem;
	text-transform: uppercase;
}

.firstPage__box {
	position: absolute;
	height: 80vh;
	left: 25vw;
	bottom: 0;
}

.firstPage__text {
	position: absolute;
	top: 36vh;
	left: 30vw;
}

.firstPage__text--primary {
	font-family: 'Ubuntu', sans-serif;
	color: #0e2c3a;
	text-transform: lowercase;
	padding-bottom: 2rem;
}

.firstPage__text--sub {
	color: #9eaab0;
	text-transform: uppercase;
	font-size: 2rem;
	letter-spacing: .4rem;
	line-height: 4rem;
}

.secondPage {
	position: relative;
}

.secondPage__stripe.title, 
.thirdPage__stripe.title {
	background-color: #0e2c3a;
	position: relative; 
	height: 10vh;
}

.secondPage__stripe.even, 
.thirdPage__stripe.even {
	height: 5vh;
}

.secondPage__stripe.odd,
.thirdPage__stripe.odd {
	height: 10vh;
	background-color: #ff6100;
}

.secondPage__main {
	position: relative;
	background-color: #fff;
	max-height: 71.6vh;
	width: 80vw;
	margin: 0 auto;
}

.title-stripe__text {
	padding-top: 1rem;
	letter-spacing: .2rem;
	text-transform: uppercase;
	font-size: 2rem;
}

.title-stripe__text--primary {
	font-family: 'Ubuntu', sans-serif;
	text-transform: lowercase;
	padding-top: 3rem;
	font-size: 4rem;
	padding-left: 10%;
	color: #fff;
	padding-right: 2rem
}

.title-stripe__text--sub {
	font-size: 2rem;
	display: in-line;
	color: #ff6100;
	padding-left: 2rem;
}

.title-stripe__nav {
	position: absolute;
	right: 5vw;
	top: 5vh;
}

.title-stripe__image {
	position: absolute;
	left: 0;
	top: 2rem;
	height: 10rem;

}

.fp-controlArrow.fp-prev {
	background-color: #0e2c3a;
}

.fp-controlArrow.fp-next {
	background-color: #ff6100;
}

.thirdPage__frame {
	height: 90vh;
	width: 90vw;
	border: 0.5rem solid #ff6100;
	left: 5vw;
	top: 5vh;
	position: absolute; 
}

.about-me {
	max-width: 80vw;
	margin: 0 auto;
}

.about-me__text {
	height: 71.6vh;
}

.about-me__text p {
	padding: 2rem;
}

.about-me__images {
	padding-top: 5rem;
}

.about-me__images--row1 {
	padding-top: 2rem;
	padding-bottom: 3rem;
}

.about-me__images--row1 {
	padding-top: 3rem;
}

.about-me__image {
	width: 10rem;
	padding: 1rem;
}

.arrowImage {
	width: 1.5rem;
}




